body {
  margin: 0;
}

p {
  padding: 10px;
  height: 100%;
  font-weight: bold;
  width: 9vW;
  text-align: center;
}

a {
  text-decoration: none;

  
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: #FF9C00;
  color: white;
}


