body {
  margin: 0;
  background-color: #A8D5BA;
}

p {
  padding: 10px;
  height: 100%;
  font-weight: bold;
  width: 9vW;
  text-align: center;
}

a {
  text-decoration: none;

  
}

a:link {
  text-decoration: none;
  color: black;
}

a:hover {
  color: white;
}

button {
  height: 40px;
  background-color: #53403C;
  border-color: #53403C;
  border-radius: 10px;
  color: #FFF6E5;
  font-weight: bolder;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 2px black;
}

#footer{
  background-color: #FFF6E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 35px;
  bottom: 0;
}

#itemCardCSS {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding-right: 20px;
}

#navBarCSS {
  background-color: #FFF6E5;
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  position:fixed;
  width:100vW;
  padding: 10px 0px;
}

#divBtnSidebarCss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;
  }

#divBtnSidebarCss:hover {
  cursor: pointer;
  }

.menuOption{
color: white;
}

.menuOption:hover{
  color: #A8D5BA;
  }

#divTituloCSS {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    padding-right: 30px;
}

#aboutDivCSS{
  display:flex; 
  flex-direction:column;
   align-items:center;
}

#homepageCSS{
  display: flex;
  flex-direction:column;
  background-color:#53403C;
   color: white;
   text-align: center;
}

#divTitulosMenu{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px 5px 0px;
}

.formCSS{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  height: 900px;
  margin-bottom: 35px;
}

.formCSS label{
  height: 50px;
  background-color: #53403C;
  border-color: #53403C;
  border-radius: 10px;
  color: #FFF6E5;
  font-weight: bolder;
  padding-left: 5px;
  
}

.formCSS label input{
  height: 44px;
}

.tituloForm{
  background-color: #FF6B6B;
  border-color: #53403C;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  font-weight: bolder;
  padding: 1.2%;
}

#detallesReceta{
  margin-top: 30px;
  display:flex;
  flex-direction:column;
  align-items:center;
}

#detallesReceta p{
  width: 50vw;
}

#btnsDetails{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

#btnsDetails button{
  margin-right: 20px;
}

#contenedorLista{
margin-bottom: 35px;
}

.btnsForms{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin-bottom: 20px;
}

.btnsForms button{
  margin-right: 20px;
}

#contenedorEstudiantes{
  display: flex;
  flex-direction: row;
  width: 98vw;
  justify-content: space-around;
}

#aboutDivCSS {
  margin-bottom: 40px;
}

#aboutDivCSS h1{
color: #FF6B6B;
text-decoration: underline;
}

.datosEstudiante{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.enlacesEstudiante{
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-around;
  margin-top: 20px;
}

.descripcionEstudiante{
  width: 300px;
  text-align: left;
}

.linkedin{
  background-color: blue;
  border: 2px solid #000;
  border-color: blue;
  border-radius: 10px;
  color: #FFF6E5;
  font-weight: bolder;
  padding: 10px;
}

.linkedin:hover{
  border-color: black;
  box-shadow: 2px 2px black;
}

.github{
  background-color: grey;
  border: 2px solid #000;
  border-color: grey;
  border-radius: 10px;
  color: #FFF6E5;
  font-weight: bolder;
  padding: 10px;
}

.github:hover{
  border-color: black;
  box-shadow: 2px 2px black;
}

.descripcionProyecto{
  width: 80vw;
  font-size: larger;
  text-align: center;
  align-items: center;
}